html{
  background-color: black;
}
body {
    font-family: "Roboto", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: bisque;
    border: solid;
  } 
  
  li {
    text-align: center;
    list-style: none;
  }
  .card {
    margin: 0 auto;
    border: double;
    margin-top: 30px;
  }
  
