body{
    
    margin: 0 auto;
    
}
.navbar-collapse{
    flex-grow: 0;
}

#nombre, #email{
    width: 90%;
    margin: 0 auto;
}

h5, i, p, .textoroboto {
    font-family: Roboto Light;
}
.textoroboto, p{
   color: #707070;
   margin-bottom: 0px;
}
